@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Tinos', serif;
    box-sizing: border-box;
    margin: 0px;
}

.motto-social, 
.foot,
.logo-nav, 
.nav-ul, 
.nav-ul li, 
header,
body,
main,
.times,
.therapist,
.form
{
    display: flex;
}

header,
main,
body,
.form,
.times{
    flex-direction: column;
}

.motto-social, 
.foot,
.logo-nav{
    justify-content: space-between;    
}

.nav-ul li, h1, .time-slot {
    text-align: center;
}

.nav-ul li,
main,
.times,
.form,
header{
    align-items: center;
}

.main,
.times,
.form,
.form-element,
.nav-ul,
.nav-ul li{
    border-radius: 5px;
}

body,
.therapist {
    flex-wrap: wrap;
}

main{
    justify-content: center;
}

.nav,
.nav-ul li,
.nav-ul li a,
main
{
    flex-grow: 1;
}

.motto-social, 
.foot {
    background: #01874c;
    padding: 15px 10px;
    color: white;
    width: 100%;
}

body {
    min-height: 100vh;
}



a {
    text-decoration: none;
}

.burger-menu {
    display: none;
}

.logo-nav {
    margin: 20px 0px 10px;
    max-width: 1500px;
    min-width: 90%;
}

.nav{
    max-width: 1000px;
    font-weight: bold;
}

.nav-ul {
    list-style: none;
    font-size: 0.8rem;
    justify-content: flex-end;
    padding-inline-start: 0px;
}


.nav-ul li a {
    color: inherit;
    display: block;
    padding: 15px 0px;
    

}
.nav-ul li:hover{
    background-color: #eee;
    color: #01874c;
}



.form {
    background: #dddddd;
    flex-wrap: wrap;
    padding: 40px 5%;
    width: 70%;
    max-width: 700px;
    box-shadow:  0px 0px 3px black;
}

.form-element {
    padding: 5px;
    margin: 5px;
    min-width: 90%;  
}

.btn {
    margin-top: 20px;
}


.time-slot {
    border: solid 2px #55cc66;
    color: white;
    border-radius: 10px;
    min-width: 20%;
    padding: 20px 0px;
    margin: 5px;
    background: #55cc66;
    box-shadow:  0px 0px 3px green;
}

.time-slot:hover {
    background-color: #33aa44;
}

.times {
    background-color: #dddddd;
    border-radius: 10px;
    padding: 20px;
    min-width: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 50vh;
    box-shadow:  0px 0px 3px black;
}


.therapist {
    background-color: #cccccc;
    width: 100%;
    justify-content: center;
    gap: 5px;
    
    padding: 10px;
}

.therapist:nth-child(n+1){
    box-shadow:  inset 2px 0px 2px -2px black,inset -2px 0px 2px -2px black;
}
.therapist:nth-child(1){
    box-shadow:  inset 0px 2px 3px -1px black,inset 2px 0px 2px -2px black,inset -2px 0px 2px -2px black;
    border-radius: 5px 5px 0px 0px;
}
.therapist:last-child{
    box-shadow:  inset 0px -2px 3px -1px black,inset 2px 0px 2px -2px black,inset -2px 0px 2px -2px black;
    border-radius: 0px 0px 5px 5px;
}
.therapist label {
    flex-basis: 100%;
    font-weight: bold;
}
@media screen and (max-width: 1100px){
    .nav {
        text-align: right;
    }
    .logo-nav {
        position: relative;
    }
    .nav-ul {
        display: none;
        padding-bottom: 0;
        
    }
    .burger-menu {
        display: inline-block;
        font-size: 2.5rem;
        height: 100%;
        padding-left: 100px;
    }
    
    .burger-menu:hover+.nav-ul,.nav-ul:hover{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 60px;
        background: #fff;
        z-index: 1;
        min-width: 100%;
        min-height: 25vh;
        box-shadow: 2px 2px 5px;   
    }

    .nav-ul li {
        margin: 0;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #ddd;
        
    }

}