extends layout.pug

block content
    main
        form.form(action='/form_submit' method='post' enctype="multipart/form-data")
            h1.form-element About Patient
            label.form-element(for='first-name') First Name: 
            input#first-name.form-element(type='text' name='client-first-name')
            label.form-element(for='last-name') Last Name: 
            input#last-name.form-element(type='text' name='client-last-name')
            label.form-element(for='email') Email: 
            input#email.form-element(type='email' name='client-email')
            label.form-element(for='address') Address: 
            input#address.form-element(type='text' name='client-address')
            label.form-element(for='dob') Date of Birth: 
            input#dob.form-element(type='date' name='user-dob')
            label.form-element(for='reason') Reason for Referral: 
            input#reason.form-element(type='text' name='reason-for-referral')
            label.form-element(for='record') Records of treatment: 
            input#record.form-element(type='textarea' name='client-medical-record')
            label.form-element(for='file-record') You can upload records here as well:
            input#file-record.form-element(type='file' name='client-file-record' multiple='')
            button.form-element.btn(action='submit'  name='slot' value=slot) Submit Form
    